<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard.css') }}">
    <title>Modern Navigation Bar</title>
</head>
<body>

<div class="navbar">
    <div class="logo">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
    </div>

    <div class="content">
        <h1>Narendra Panwar</h1>
    </div>

    <div class="menu">
        <a href="#" class="active">Home</a>
        <a href="{{ url_for('dashboard') }}">Contact</a>
        <a  href="{{ url_for('index') }}">Logout</a>
    </div>
    <div class="burger-menu" onclick="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
</div>

<header id="page-header" class="header-maxwidth d-print-none">
    <div>
        <h2 class="mb-3 mt-3">
            Welcome back, Aadarsh! 👋
        </h2>
    </div>   
</header>
<section class="active-tests">
    <h2>Active Tests</h2>
    <div class="test-container">
        <div class="test">
            <div class="test-info">
                <h3>REET MCQs</h3>
                <h5>Date: March 10, 2024</h5>
                <h5>Start Time: 11:00 End Time: 11:00</h5>
                <h5>Topic: General Knowledge For REET </h5>
            </div>
            <button class="start-test-button"  onclick="startTest()">Start Test</button>
            
        </div>
    </div>
</section>

<section class="upcoming-tests">
    <h2>Upcoming Tests Calendar</h2>
    <!-- Add your content for upcoming/active tests here -->
    <div class="test-container">
        <div class="up_test">
            <div class="test-info">
                <h3>Test Name </h3>
                <p>Date: March 15, 2024</p>
                <p>Topic: Mathematics</p>
            </div>
        </div>
        
        

        
    </div>
</section>
<script>
    function startTest() {
        const currentTime = new Date();
        const allowedStartTime = new Date("March 7, 2024 11:00:00 GMT+0530"); // Replace with your desired start time
        const allowedEndTime = new Date("March 30, 2024 13:00:00 GMT+0530");   // Replace with your desired end time

        if (currentTime >= allowedStartTime && currentTime <= allowedEndTime) {
            // Redirect to the test paper page or perform other actions
            window.location.href = '{{ url_for('testpaper') }}';
        } else if (currentTime < allowedStartTime) {
            alert('The test is not available yet.');
        } else {
            alert('The test has ended.');
        }
    }
</script>

</body>
</html>
